    <div class="login">
      <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
    </div>
    <div class="w-form">
      <form name="email-form" data-name="Email Form" onsubmit="setAndRedirect()">
        <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
        <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
        </div>

        <h1 style="font-size: 30px;">Log In -- Sign Up</h1>

        <center><input style="width:80%;" class="w-input" id="email" type="email" placeholder="Enter your email address"  name="email" data-name="Email" required="required"></input></center>


        <center><input style="width:80%;" type="password" class="w-input" placeholder="Enter your password" name="password" data-name="Password" required="required"></input></center>

        <center><button style="background-color:#93c0bd" class="button" id="not1" type="submit">Submit</button></center>

      </form>
    </div>