
  <h1>My Wishlist</h1>

      {{#each wishlist}}
      <img class="imageblock" style="position:relative;" src="{{imageURL}}" class="imageblock" width="205" alt="image"/>
      <button class="button wishlistbutton" id="deleteFromWishlist" style="margin-top:-190px;background-color:#93c0bd;">x</button>
      <center>
       <a href="itemdetail/{{name}}" id="name">{{name}}</a>
       </center>
      <hr>         
      {{/each}}
